:root {
  --color_ffffff: #ffffff;
  --color_cccccc: #cccccc;
  --color_f04c64: #f04c64;
  --color_f56c80: #f56c80;
  --color_51cade: #51cade;
  --color_f04cb4: #f04cb4;
  --color_000000: #000000;
  --color_rgba_0_0_0_0dot1: rgba(0, 0, 0, 0.1);
}

.main {
  background-color: var(--color_ffffff);
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px var(--color_rgba_0_0_0_0dot1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid var(--color_cccccc);
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background-color: var(--color_f04c64);
  color: var(--color_fff);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}

.form button[type="submit"]:hover {
  background-color: var(--color_f56c80);
}

.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tasks li:hover {
  background: var(--color_51cade);
  border-radius: 5px;
}

.tasks .edit {
  margin-right: 15px;
  color: var(--color_51cade);
}

.tasks .delete {
  margin-right: 15px;
  color: var(--color_f04cb4);
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: var(--color_000000);
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
  transition: all 600ms;
}
